openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Suppliers API
  description: '# Rate Limiting


    Requests can be limited by user requests, by private partner requests and by all requests with partner''s credentials.'
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: Suppliers
  description: Supplier methods
  x-displayName: Suppliers
paths:
  /suppliers:
    get:
      summary: Get Supplier List
      description: 'Returns available suppliers.

        Results can be filtered by a supplier name.


        **Note** that different users may have a different set of available suppliers.

        It depends on a role of the user or partner, and supplier settings. For example, demo users have an access to demo suppliers additionally.'
      operationId: searchSuppliers
      x-operation-name: GetAllSuppliers
      tags:
      - Suppliers
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
          minLength: 3
          pattern: .{3,}
        example: Advance
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 100
                items:
                  allOf:
                  - $ref: '#/components/schemas/BriefSupplierWithCredentials'
                  - type: object
                    required:
                    - allowReturns
                    - allowStoreSelect
                    - availabilitySelect
                    - postOrderUpdates
                    properties:
                      allowStoreSelect:
                        type: boolean
                        description: If true, user can select one of the provided availability to add in the cart
                      availabilitySelect:
                        type: boolean
                        description: If true, user must select one of the provided availability to add in the cart
                      postOrderUpdates:
                        type: boolean
                        description: If true for a supplier, order can be updated after they placed.
                      allowReturns:
                        type: boolean
                      returnPeriod:
                        type:
                        - integer
                        - 'null'
                      returnPolicy:
                        type:
                        - string
                        - 'null'
                      marketingDescription:
                        type:
                        - string
                        - 'null'
                      coreChargePolicy:
                        type:
                        - string
                        - 'null'
  /suppliers/{supplierId}:
    get:
      summary: Get Supplier
      description: Returns a single supplier.
      operationId: getSupplier
      x-operation-name: GetSupplier
      tags:
      - Suppliers
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: supplierId
        description: PartsTech Id of a supplier.
        in: path
        required: true
        schema:
          type: integer
          pattern: \d+
        example: 1458
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BriefSupplier'
                - type: object
                  required:
                  - allowReturns
                  - allowStoreSelect
                  - availabilitySelect
                  properties:
                    allowStoreSelect:
                      type: boolean
                      description: If true, user can select one of the provided availability to add in the cart
                    availabilitySelect:
                      type: boolean
                      description: If true, user must select one of the provided availability to add in the cart
                    allowReturns:
                      type: boolean
                    returnPeriod:
                      type:
                      - integer
                      - 'null'
                    returnPolicy:
                      type:
                      - string
                      - 'null'
                    marketingDescription:
                      type:
                      - string
                      - 'null'
                    coreChargePolicy:
                      type:
                      - string
                      - 'null'
              examples:
                AdvanceAutoParts:
                  value:
                    id: 1458
                    name: Advance Auto Parts
                    allowStoreSelect: false
                    availabilitySelect: false
                    credentialFormat:
                    - label: Customer
                      internalName: customer
                      type: text
                    - label: SMS Username
                      internalName: username
                      type: text
                    - label: SMS Password
                      internalName: password
                      type: password
                    lockedStore: true
                    allowReturns: true
                    returnPeriod: 30
                    returnPolicy: Some text
                    marketingDescription: Some text
                    coreChargePolicy: Some text
  /stores:
    get:
      summary: Get Store List
      description: 'Returns available stores by supplier and filter parameters.

        You are available to filter by zipcode, OR state and city.

        - `zipcode` - returns stores by point on map (geocoded by google from zipcode) in selected radius.

        - `state and city` - returns stores by point on map (geocoded by google from state and city) in selected radius.


        Without any filter, it returns store in selected radius from shop''s shipping address.

        Default radius: 100'
      operationId: searchStores
      x-operation-name: GetAllStores
      tags:
      - Suppliers
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: supplierId
        in: query
        required: false
        schema:
          type: integer
        example: 1458
      - name: zip
        in: query
        required: false
        schema:
          type: string
          minLength: 5
          maxLength: 10
          pattern: (^\d{5}$)|(^\d{5}-\d{4}$)
        example: 10007
      - name: radius
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 10
          - 25
          - 50
          - 100
          - 250
          - 500
      - name: state
        in: query
        schema:
          type: string
          minLength: 2
          maxLength: 2
          pattern: \w{2,2}
      - name: city
        in: query
        schema:
          type: string
          minLength: 3
          pattern: \w{3,}
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 100
                items:
                  $ref: '#/components/schemas/Store'
  /stores/{storeId}:
    get:
      summary: Get Store
      description: Returns a single store.
      operationId: getStore
      x-operation-name: GetStore
      tags:
      - Suppliers
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: storeId
        description: PartsTech Id of a store.
        in: path
        required: true
        schema:
          type: integer
          pattern: \d+
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
components:
  schemas:
    ShippingMethod:
      type: string
      enum:
      - USPS
      - UPS
      - FedEx
      example:
      - USPS
      - UPS
      - FedEx
    Store:
      allOf:
      - $ref: '#/components/schemas/BriefStore'
      - type: object
        required:
        - address
        - pickUp
        - hotshot
        - dropship
        properties:
          address:
            $ref: '#/components/schemas/Address'
          pickUp:
            type: boolean
            example: true
          hotshot:
            type: integer
            example: 25
          dropship:
            type: boolean
            example: true
          distance:
            type:
            - integer
            - 'null'
            description: A distance to the selected address/zip or to the shipping address of an user
          shippingMethods:
            type: array
            items:
              $ref: '#/components/schemas/ShippingMethod'
          supplier:
            $ref: '#/components/schemas/BriefSupplierWithCredentials'
    BriefSupplier:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          example: 1458
          description: PartsTech's ID for a supplier.
        name:
          type: string
          example: Advance Auto Parts
          description: The name of a supplier.
    SupplierPreferenceCredentialsFormat:
      description: '**Note** that different suppliers have a different format of the credentials.

        And a number of the credentials is not stagnant.

        Another formats can be added during new supplier integrations.


        `label` User-friendly label for property.


        `internalName` Property name in `SupplierPreferenceCredentials` object.


        `type` Field type.

        '
      type:
      - array
      - 'null'
      items:
        type: object
        required:
        - label
        - internalName
        - type
        properties:
          label:
            type: string
            description: User-friendly label for property.
            example: null
          internalName:
            type: string
            description: Property name in `SupplierPreferenceCredentials` object
            example: null
          type:
            type: string
            description: Field type
            example: null
      example:
      - label: Customer
        internalName: customer
        type: text
      - label: SMS Username
        internalName: username
        type: text
      - label: SMS Password
        internalName: password
        type: password
    BriefSupplierWithCredentials:
      allOf:
      - $ref: '#/components/schemas/BriefSupplier'
      - type: object
        required:
        - lockedStore
        properties:
          credentialsFormat:
            $ref: '#/components/schemas/SupplierPreferenceCredentialsFormat'
          lockedStore:
            type: boolean
            description: 'If true: It will try to assign itself a store to the supplier preference of a shop

              '
    BriefStore:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          example: 1
          description: PartsTech's ID for a store.
        name:
          type: integer
          example: 5904 - Springfield, MA
          description: The name of a store
    Address:
      type: object
      description: Address of the user's shop
      required:
      - address1
      - city
      - state
      - zipCode
      properties:
        address1:
          type: string
          example: 1 Broadway
        address2:
          type:
          - string
          - 'null'
          example: 14th Floor
        city:
          type: string
          example: Cambridge
        state:
          description: 'ISO 3166-2: Second part. Example for US-MA - MA.'
          type: string
          minLength: 2
          maxLength: 2
          pattern: \w{2,2}
          example: MA
        zipCode:
          type: string
          pattern: (^\d{5}$)|(^\d{5}-\d{4}$)
          example: '02142'
        country:
          description: ISO 3166-1 alpha-2
          type: string
          minLength: 2
          maxLength: 2
          pattern: \w{2,2}
          default: US
          example: US
  parameters:
    perPage:
      name: perPage
      in: query
      schema:
        type: integer
        enum:
        - 10
        - 25
        - 50
        - 100
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 50
      description: 'Records per request. Default: 50'
    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 2
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
