openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Jobs API
  description: '# Rate Limiting


    Requests can be limited by user requests, by private partner requests and by all requests with partner''s credentials.'
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: Jobs
  description: Jobs
  x-displayName: Jobs
paths:
  /taxonomy/jobs:
    get:
      summary: Get list of jobs
      description: 'Returns list of popular and custom jobs


        `name`, `types`, `direction`, `page`, `perPage` query parameters are optional.'
      operationId: getJobs
      x-operation-name: GetAllTaxonomyJobs
      tags:
      - Jobs
      security:
      - bearerAuth:
        - user
      parameters:
      - name: name
        in: query
        required: false
        description: Filter by name
        schema:
          type: string
        example: null
      - name: types
        in: query
        required: true
        description: Comma separated list of job types
        schema:
          type: string
          enum:
          - FREE
          - POPULAR
          - CUSTOM
      - name: active
        in: query
        required: false
        description: Filter by ACTIVE/INACTIVE status, keep empty for all
        schema:
          type: boolean
      - $ref: '#/components/parameters/direction'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - status
                  - type
                  - name
                  - tasks
                  properties:
                    id:
                      type: number
                    status:
                      type: string
                      enum:
                      - ACTIVE
                      - INACTIVE
                    type:
                      type: string
                      enum:
                      - FREE
                      - POPULAR
                      - CUSTOM
                    name:
                      type: string
                    components:
                      oneOf:
                      - $ref: '#/components/schemas/PartTypeTaskResponse'
                      discriminator:
                        propertyName: type
components:
  parameters:
    perPage:
      name: perPage
      in: query
      schema:
        type: integer
        enum:
        - 10
        - 25
        - 50
        - 100
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 50
      description: 'Records per request. Default: 50'
    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 2
    direction:
      name: direction
      in: query
      description: Direction
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: ASC
      required: false
      example: ASC
  schemas:
    PartTypeTaskResponse:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - PART_TYPE
        partType:
          $ref: '#/components/schemas/ResponsePartType'
        positions:
          description: List of positions assigned for the part type.
          type: array
          items:
            type: string
    ResponsePartType:
      type: object
      required:
      - partTypeId
      - partTypeName
      - description
      - application
      properties:
        partTypeId:
          type: integer
          description: The ID of a part type from the Autocare Association's PCdb..
        partTypeName:
          type: string
          description: The name of a part type.
        description:
          type:
          - string
          - 'null'
        application:
          type: string
          description: 'Determines whether it can be used without vehicle params in the search.

            UNIVERSAL can be used without vehicle params.

            FITTED requires vehicle.

            UNIVERSAL_FITTED can be with or without vehicle params.

            '
          enum:
          - FITTED
          - UNIVERSAL
          - UNIVERSAL_FITTED
      example:
        partTypeId: 53431
        partTypeName: Voltage Regulator Screw
        description: Mounting screw for the voltage regulator.
        application: FITTED
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
