openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Ex Permissions API
  description: '# Rate Limiting


    Requests can be limited by user requests, by private partner requests and by all requests with partner''s credentials.'
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: ex-permissions
  description: EX Permissions
  x-displayName: EX Permissions
paths:
  /partner/ex-profile:
    get:
      summary: Get Partner EX Profile with Permissions
      description: 'Returns Partner EX profile with its type and permissions.


        STATIC shares permissions among all users when they log in under partner in punchout mode or partner API.


        DYNAMIC allows to assignment of permissions individually for each shop.'
      operationId: getPartnerExProfile
      x-operation-name: GetPartnerExProfile
      tags:
      - ex-permissions
      security:
      - bearerAuth:
        - partner
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - type
                - permissions
                properties:
                  type:
                    type: string
                    enum:
                    - DYNAMIC
                    - STATIC
                    - RETAIL
                  permissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExPermission'
  /shops/ex-permissions/batch:
    post:
      summary: Batch Get Shop EX Permissions
      description: 'Returns shop EX permissions for available shops out of requested list of shop ids.


        Available only for partners with EX profile with type DYNAMIC.'
      operationId: bathGetShopExPermissions
      x-operation-name: QueryShopExPermissions
      tags:
      - ex-permissions
      security:
      - bearerAuth:
        - partner
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - shopIds
              properties:
                shopIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - shopId
                  - permissions
                  properties:
                    shopId:
                      type: integer
                    permissions:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExPermission'
  /shops/{shopId}/ex-permissions:
    get:
      summary: Get Shop EX Permissions
      description: 'Returns shop EX permissions.


        Available only for partners with EX profile with type DYNAMIC.'
      operationId: GetShopExPermissions
      x-operation-name: GetShopExPermissions
      tags:
      - ex-permissions
      security:
      - bearerAuth:
        - partner
      parameters:
      - name: shopId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - permissions
                properties:
                  permissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExPermission'
    patch:
      summary: Update Shop EX Permissions
      description: 'Updates only provided in the request shop EX permissions.


        Available only for partners with EX profile with type DYNAMIC.

        Only permissions that are allowed for a partner can be updated.'
      operationId: updateShopExPermissions
      x-operation-name: UpdateShopExPermissions
      tags:
      - ex-permissions
      security:
      - bearerAuth:
        - partner
      parameters:
      - name: shopId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - permissions
              properties:
                permissions:
                  type: array
                  items:
                    type: object
                    required:
                    - id
                    - permission
                    properties:
                      id:
                        type: string
                        enum:
                        - labor
                        - labor_mitchell
                        - schedules
                        - specs
                        - local_inventory
                        description: Permission identifier. `labor` covers MOTOR labor (the default labor source); `labor_mitchell` covers Mitchell1 labor.
                      permission:
                        type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - permissions
                properties:
                  permissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExPermission'
components:
  schemas:
    ExPermission:
      type: object
      required:
      - id
      - name
      - permission
      properties:
        id:
          type: string
          enum:
          - labor
          - labor_mitchell
          - schedules
          - specs
          - local_inventory
          description: Permission identifier. `labor` covers MOTOR labor (the default labor source); `labor_mitchell` covers Mitchell1 labor.
        name:
          type: string
        permission:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
