openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Users API
  description: '# Rate Limiting


    Requests can be limited by user requests, by private partner requests and by all requests with partner''s credentials.'
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: Users
  description: Users methods
  x-displayName: Users
paths:
  /users:
    get:
      summary: Get User List
      description: 'Search users by `username`, `email`, `lastName`.


        **Note**. It is allowed to receive only users that are connected to the partner who made the request.'
      operationId: searchUsers
      x-operation-name: GetAllUsers
      tags:
      - Users
      security:
      - bearerAuth:
        - partner
      parameters:
      - name: username
        in: query
        schema:
          type: string
          minLength: 3
          pattern: .{3,}
        example: mechanic
      - name: email
        in: query
        schema:
          type: string
          minLength: 3
          pattern: .{3,}
        example: man
      - name: lastName
        in: query
        schema:
          type: string
          minLength: 3
          pattern: .{3,}
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                items:
                  allOf:
                  - $ref: '#/components/schemas/User'
                  - type: object
                    required:
                    - shops
                    properties:
                      shops:
                        type: array
                        items:
                          $ref: '#/components/schemas/EntireShop'
    post:
      summary: Register User
      description: 'Register a new user in PartsTech.


        We strongly recommend to change password for the user after that using PartsTech site.


        Registered users will be disabled until they approved their account (An email with activation link will be sent).'
      operationId: registerUser
      x-operation-name: RegisterUser
      tags:
      - Users
      security:
      - bearerAuth:
        - partner
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - username
              - email
              - password
              - firstName
              - lastName
              - shop
              properties:
                username:
                  type: string
                  minLength: 5
                  maxLength: 255
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 5
                  maxLength: 255
                firstName:
                  type: string
                  minLength: 1
                lastName:
                  type: string
                  minLength: 1
                shop:
                  type: object
                  required:
                  - name
                  - phone
                  - billingAddress
                  - shippingAddress
                  properties:
                    name:
                      type: string
                      minLength: 1
                    otherBusinessName:
                      type:
                      - string
                      - 'null'
                    phone:
                      type: string
                      pattern: \(\d{3}\)\s\d{3}-\d{4}(\s?x\d{1,5})?
                    cellphone:
                      type: string
                      pattern: \(\d{3}\)\s\d{3}-\d{4}(\s?x\d{1,5})?
                    billingAddress:
                      $ref: '#/components/schemas/Address'
                    shippingAddress:
                      $ref: '#/components/schemas/Address'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - user
                - messages
                - redirectUrl
                properties:
                  user:
                    allOf:
                    - $ref: '#/components/schemas/User'
                    - type: object
                      required:
                      - shops
                      - apiKey
                      properties:
                        shops:
                          type: array
                          items:
                            $ref: '#/components/schemas/EntireShop'
                        apiKey:
                          type: string
                  redirectUrl:
                    type: string
                    format: url
  /users/{username}:
    get:
      summary: Get User
      description: Returns an user by username. It is allowed to receive only users that are connected to the partner who made the request.
      operationId: getUserByUsername
      x-operation-name: GetUser
      tags:
      - Users
      security:
      - bearerAuth:
        - partner
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/User'
                - type: object
                  required:
                  - shops
                  properties:
                    shops:
                      type: array
                      items:
                        $ref: '#/components/schemas/EntireShop'
components:
  schemas:
    BriefShop:
      type: object
      required:
      - id
      - name
      - phone
      - demo
      properties:
        id:
          type: integer
          example: 1
          description: PartsTech ID of a shop.
        name:
          type: string
          example: Mechanic Shop
        phone:
          type: string
          example: (777) 777-7777 x111
        cellphone:
          type:
          - string
          - 'null'
          example: (777) 777-7777 x111
        demo:
          type: boolean
          example: false
    EntireShop:
      allOf:
      - $ref: '#/components/schemas/BriefShop'
      - type: object
        required:
        - pickUpRadius
        - shippingAddress
        - billingAddress
        properties:
          pickUpRadius:
            type: integer
            minimum: 0
            example: 25
          otherBusinessName:
            type:
            - string
            - 'null'
          shippingAddress:
            $ref: '#/components/schemas/Address'
          billingAddress:
            $ref: '#/components/schemas/Address'
    User:
      type: object
      required:
      - username
      - email
      - enabled
      - lastLogin
      - allowOrderEmails
      - firstName
      - lastName
      - demo
      properties:
        username:
          type: string
          example: mechanic
        email:
          type: string
          example: iron-man@gmail.com
        enabled:
          type: boolean
          example: true
          description: Shows if user is activated.
        lastLogin:
          type:
          - string
          - 'null'
          format: date-time
          description: Shows date and time of last user login. ISO 8601/RFC 3339, UTC
        registrationDate:
          type:
          - string
          - 'null'
          format: date
          description: Shows date of user registration.
        allowOrderEmails:
          type: boolean
          example: true
        firstName:
          type: string
          example: Iron
        lastName:
          type: string
          example: Man
        timeZone:
          type:
          - string
          - 'null'
          example: America/New_York
        demo:
          type: boolean
          example: false
    Address:
      type: object
      description: Address of the user's shop
      required:
      - address1
      - city
      - state
      - zipCode
      properties:
        address1:
          type: string
          example: 1 Broadway
        address2:
          type:
          - string
          - 'null'
          example: 14th Floor
        city:
          type: string
          example: Cambridge
        state:
          description: 'ISO 3166-2: Second part. Example for US-MA - MA.'
          type: string
          minLength: 2
          maxLength: 2
          pattern: \w{2,2}
          example: MA
        zipCode:
          type: string
          pattern: (^\d{5}$)|(^\d{5}-\d{4}$)
          example: '02142'
        country:
          description: ISO 3166-1 alpha-2
          type: string
          minLength: 2
          maxLength: 2
          pattern: \w{2,2}
          default: US
          example: US
  parameters:
    perPage:
      name: perPage
      in: query
      schema:
        type: integer
        enum:
        - 10
        - 25
        - 50
        - 100
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 50
      description: 'Records per request. Default: 50'
    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 2
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
