openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Vin API
  description: '# Rate Limiting


    Requests can be limited by user requests, by private partner requests and by all requests with partner''s credentials.'
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: Vin
  description: VIN Methods
  x-displayName: VIN
paths:
  /catalog/vin/{vin}:
    get:
      summary: Decode VIN
      description: Decodes VIN and returns a VIN decode result.
      operationId: decodeVin
      x-operation-name: GetCatalogDecodedVinByVin
      tags:
      - Vin
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: vin
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 1
                items:
                  type: object
                  required:
                  - vin
                  - vinDecode
                  properties:
                    vin:
                      type: string
                    vinDecode:
                      type: object
                      additionalProperties:
                        oneOf:
                        - type: array
                          items: {}
                        - type: integer
                        - type: string
                        - type: boolean
        '400':
          $ref: '#/components/responses/VinDecodeError'
  /catalog/plate/{state}/{plate}:
    get:
      summary: Decode Plate
      description: Decodes Plate and returns VINs and VIN decode results.
      operationId: decodePlate
      x-operation-name: GetCatalogDecodedVinByPlates
      tags:
      - Vin
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: state
        in: path
        required: true
        schema:
          type: string
          maxLength: 2
          minLength: 2
        example: CT
      - name: plate
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          example: RGZ276
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 1
                items:
                  type: object
                  required:
                  - vin
                  - vinDecode
                  properties:
                    vin:
                      type: string
                    vinDecode:
                      type: object
                      additionalProperties:
                        oneOf:
                        - type: array
                          items: {}
                        - type: integer
                        - type: string
                        - type: boolean
        '400':
          $ref: '#/components/responses/PlateDecodeError'
components:
  schemas:
    Error:
      title: Error Definition
      type: object
      required:
      - code
      - message
      properties:
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
  responses:
    PlateDecodeError:
      description: PlateDecodeError
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                $ref: '#/components/schemas/Error'
            example:
              error:
                code: PlateDecodeError
                message: We cannot identify your license plate number
    VinDecodeError:
      description: VinDecodeError
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                $ref: '#/components/schemas/Error'
            example:
              error:
                code: VinDecodeError
                message: We cannot identify your vin number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
