openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Motor Maintenance Schedules API
  description: '# Rate Limiting


    Requests can be limited by user requests, by private partner requests and by all requests with partner''s credentials.'
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: motor-maintenance-schedules
  description: Maintenance Schedules
  x-displayName: Maintenance Schedules
paths:
  /maintenance-schedules/indicators:
    post:
      summary: Get Maintenance Schedules Indicators
      description: Returns list of service indicators that correspond to the maintenance schedule
      operationId: maintenanceSchedulesIndicators
      x-operation-name: QueryMaintenanceSchedulesIndicators
      tags:
      - motor-maintenance-schedules
      security:
      - bearerAuth:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - searchParams
              - severity
              properties:
                searchParams:
                  $ref: '#/components/schemas/SearchParams'
                severity:
                  $ref: '#/components/schemas/Severity'
      responses:
        '200':
          description: OK
          headers:
            Link:
              $ref: '#/components/headers/MotorComplianceLink'
          content:
            application/json:
              schema:
                type: object
                required:
                - indicators
                properties:
                  indicators:
                    type: array
                    items:
                      type: string
                    example:
                    - Service 1
                    - Service 2
                    - Service 3
                    - Service 4
        '400':
          $ref: '#/components/responses/UnsupportedVehicle'
        '404':
          $ref: '#/components/responses/VehicleNotFound'
  /maintenance-schedules/indicators/details:
    post:
      summary: Get Maintenance Schedules Details By Indicator
      description: Returns maintenance schedule details for a specific indicator
      operationId: maintenanceSchedulesDetailsByIndicator
      x-operation-name: QueryMaintenanceSchedulesIndicatorsDetails
      tags:
      - motor-maintenance-schedules
      security:
      - bearerAuth:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - searchParams
              - severity
              - indicatorName
              properties:
                searchParams:
                  $ref: '#/components/schemas/SearchParams'
                severity:
                  $ref: '#/components/schemas/Severity'
                indicatorName:
                  type: string
      responses:
        '200':
          description: OK
          headers:
            Link:
              $ref: '#/components/headers/MotorComplianceLink'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceSchedulesDetails'
        '400':
          $ref: '#/components/responses/UnsupportedVehicle'
        '404':
          $ref: '#/components/responses/VehicleNotFound'
  /maintenance-schedules/intervals:
    post:
      summary: Get Maintenance Schedules Intervals
      description: Returns list of service intervals that correspond to the maintenance schedule
      operationId: maintenanceSchedulesIntervals
      x-operation-name: QueryMaintenanceSchedulesIntervals
      tags:
      - motor-maintenance-schedules
      security:
      - bearerAuth:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - searchParams
              - severity
              properties:
                searchParams:
                  $ref: '#/components/schemas/SearchParams'
                severity:
                  $ref: '#/components/schemas/Severity'
                intervalType:
                  $ref: '#/components/schemas/IntervalType'
      responses:
        '200':
          description: OK
          headers:
            Link:
              $ref: '#/components/headers/MotorComplianceLink'
          content:
            application/json:
              schema:
                type: object
                title: Intervals
                required:
                - intervals
                properties:
                  intervals:
                    type: array
                    items:
                      type: string
                    example:
                    - 9300
                    - 10000
                    - 18600
                    - 19000
                  intervalType:
                    $ref: '#/components/schemas/IntervalType'
        '400':
          $ref: '#/components/responses/UnsupportedVehicle'
        '404':
          $ref: '#/components/responses/VehicleNotFound'
  /maintenance-schedules/intervals/details:
    post:
      summary: Get Maintenance Schedules Details By Interval
      description: Returns maintenance schedule details for a specific interval
      operationId: maintenanceSchedulesDetailsByInterval
      x-operation-name: QueryMaintenanceSchedulesIntervalsDetails
      tags:
      - motor-maintenance-schedules
      security:
      - bearerAuth:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - searchParams
              - severity
              - intervalValue
              properties:
                searchParams:
                  $ref: '#/components/schemas/SearchParams'
                severity:
                  $ref: '#/components/schemas/Severity'
                intervalType:
                  $ref: '#/components/schemas/IntervalType'
                intervalValue:
                  type: number
      responses:
        '200':
          description: OK
          headers:
            Link:
              $ref: '#/components/headers/MotorComplianceLink'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceSchedulesDetails'
        '400':
          $ref: '#/components/responses/UnsupportedVehicle'
        '404':
          $ref: '#/components/responses/VehicleNotFound'
  /maintenance-schedules/details:
    post:
      summary: Get Maintenance Schedules Details By Application ID
      description: Returns maintenance schedule details for a specific application ID
      operationId: maintenanceSchedulesDetails
      x-operation-name: QueryMaintenanceSchedulesDetails
      tags:
      - motor-maintenance-schedules
      security:
      - bearerAuth:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - searchParams
              - applicationId
              properties:
                searchParams:
                  $ref: '#/components/schemas/SearchParams'
                applicationId:
                  type: number
      responses:
        '200':
          description: OK
          headers:
            Link:
              $ref: '#/components/headers/MotorComplianceLink'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceSchedulesApplication'
        '400':
          $ref: '#/components/responses/UnsupportedVehicle'
        '404':
          $ref: '#/components/responses/VehicleNotFound'
components:
  schemas:
    VinSearchParams:
      description: 'A search parameters for the search by vin.

        It consists on VIN and Part Types or Keyword.


        [Search](#tag/search) require VIN and one of another properties - Part Types or Keyword.


        [Create Quote](#operation/createQuote) requires only VIN. Part Types or Keyword is optional.

        '
      type: object
      minProperties: 1
      maxProperties: 2
      required:
      - vin
      properties:
        vin:
          type: string
          example: SomeVIN
    SearchParams:
      type: object
      oneOf:
      - $ref: '#/components/schemas/VehicleSearchParams'
      - $ref: '#/components/schemas/VinSearchParams'
      - $ref: '#/components/schemas/PlateSearchParams'
      - $ref: '#/components/schemas/PartNumberSearchParams'
    MaintenanceSchedulesDetails:
      type: object
      title: Maintenance Schedules details
      description: 'Maintenance Schedules details.

        '
      required:
      - applications
      properties:
        applications:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/MaintenanceSchedulesApplication'
    VehicleParams:
      oneOf:
      - $ref: '#/components/schemas/VehicleParamsByEngineIdAndEngineParams'
      - $ref: '#/components/schemas/VehicleParamsByEngineConfigId'
    LaborTime:
      type: object
      required:
      - laborTime
      - warrantyLaborTime
      properties:
        laborTime:
          type: number
          format: float
          description: MOTOR estimated time to perform the operation
        laborTimeAverage:
          type: number
          format: float
          description: Average labor time for the operation across all vehicles
        laborTimeDescription:
          type: string
        warrantyLaborTime:
          type: number
          format: float
          description: OEM warranty time for performing the operation
    Severity:
      type: string
      enum:
      - Severe
      - Normal
    VehicleSearchParams:
      description: 'A search parameters for the search by vehicle parameters.

        It consists on Vehicle arameters and Part Types or Keyword.


        [Search](#tag/search) require Vehicle arameters and one of another properties - Part Types or Keyword.


        [Create Quote](#operation/createQuote) requires only Vehicle parameters. Part Types or Keyword is optional.

        '
      type: object
      minProperties: 1
      maxProperties: 2
      required:
      - vehicleParams
      properties:
        vehicleParams:
          $ref: '#/components/schemas/VehicleParams'
    VehicleParamsByEngineIdAndEngineParams:
      title: Vehicle params with engineId and engine params
      description: 'Vehicle parameters with Engine ID and Engine parameters.

        '
      type: object
      required:
      - yearId
      - makeId
      - modelId
      - subModelId
      - engineId
      - engineParams
      properties:
        yearId:
          type: integer
          example: 2015
        makeId:
          type: integer
          example: 65
        modelId:
          type: integer
          example: 123
        subModelId:
          type: integer
          example: 234
        engineId:
          type: integer
          example: 12344
        engineParams:
          $ref: '#/components/schemas/EngineParams'
    VehicleParamsByEngineConfigId:
      title: Vehicle params with engineConfigId
      description: 'Vehicle parameters with Engine Config ID.


        EngineID and other Engine parameters will be defined by Engine Config ID.

        '
      type: object
      required:
      - yearId
      - makeId
      - modelId
      - subModelId
      - engineConfigId
      properties:
        yearId:
          type: integer
          example: 2015
        makeId:
          type: integer
          example: 65
        modelId:
          type: integer
          example: 123
        subModelId:
          type: integer
          example: 234
        engineConfigId:
          type: integer
          example: 34
    PartNumberSearchParams:
      description: 'A search parameters for the search by PartNumber.

        It consists on only PartNumber.


        Now it has limits of 1 PartNumber in a request.

        '
      type: object
      required:
      - partNumber
      properties:
        partNumber:
          type: array
          minItems: 1
          maxItems: 1
          uniqueItems: true
          description: The manufacturer part number.
          items:
            type: string
          example:
          - 12345
    PlateSearchParams:
      description: 'A search parameters for the search by Plate.

        It consists on Plate and Part Types or Keyword.


        [Search](#tag/search) require Plate and one of another properties - Part Types or Keyword.


        [Create Quote](#operation/createQuote) requires only Plate. Part Types or Keyword is optional.

        '
      type: object
      minProperties: 1
      maxProperties: 2
      required:
      - plate
      properties:
        plate:
          type: object
          required:
          - state
          - plate
          properties:
            state:
              description: 'ISO 3166-2: Second part. Example for US-MA - MA.'
              type: string
              minLength: 2
              maxLength: 2
              pattern: \w{2,2}
              example: MA
            plate:
              type: string
              example: SomePlate
    EngineParams:
      title: Engine params
      type: object
      required:
      - engineVinId
      - engineDesignationId
      - engineVersionId
      - fuelTypeId
      - cylinderHeadTypeId
      properties:
        engineVinId:
          type: integer
          example: 134
        engineDesignationId:
          type: integer
          example: 344
        engineVersionId:
          type: integer
          example: 342
        fuelTypeId:
          type: integer
          example: 54
        cylinderHeadTypeId:
          type: integer
          example: 25243
    IntervalType:
      type: string
      enum:
      - Miles
      - Months
      default: Months
    MaintenanceSchedulesApplication:
      type: object
      required:
      - applicationId
      - name
      - notes
      - attributes
      - all
      - base
      - additional
      - skill
      properties:
        applicationId:
          type: integer
          format: int32
          description: Motor application ID.
        name:
          type: string
          description: The name of the maintenance task.
        description:
          type:
          - string
          - 'null'
          description: A detailed description of the maintenance task.
        notes:
          type: array
          items:
            type: string
          description: Any additional notes or remarks for the maintenance task.
        additional:
          $ref: '#/components/schemas/LaborTime'
        all:
          $ref: '#/components/schemas/LaborTime'
        base:
          $ref: '#/components/schemas/LaborTime'
        skill:
          type: object
          required:
          - code
          - description
          - name
          properties:
            code:
              type: string
              description: Literal skill name.
            description:
              type: string
              description: Skill description.
            name:
              type: string
              description: Skill name.
        position:
          type:
          - object
          - 'null'
          required:
          - name
          - pcdbPositionID
          properties:
            name:
              type: string
            pcdbPositionID:
              type: integer
        taxonomy:
          type: object
          required:
          - id
          - name
          - action
          properties:
            id:
              type: integer
            name:
              type: string
            action:
              type: string
        attributes:
          type:
          - array
          - 'null'
          items:
            type: object
            required:
            - id
            - name
            properties:
              id:
                type: integer
                description: PCDB identifier
              name:
                type: string
                description: PCDB name
              text:
                type:
                - string
                - 'null'
                description: Full part name
  responses:
    VehicleNotFound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
            example:
              error:
                code: NotFound
                message: Vehicle was not found
    UnsupportedVehicle:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
            example:
              error:
                code: UnsupportedVehicle
                message: MOTOR does not currently support data for Canadian vehicles.
  headers:
    MotorComplianceLink:
      description: 'Labor, maintenance schedules, fluids, and specifications data provided by MOTOR.

        Link to MOTOR''s OEM Compliance Requirements documentation.

        '
      schema:
        type: string
        example: <https://www.motor.com/oem-compliance-requirements/>; rel="compliance"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
