openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Pcdb API
  description: '# Rate Limiting


    Requests can be limited by user requests, by private partner requests and by all requests with partner''s credentials.'
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: pcdb
  description: Product Characteristics Database
  x-displayName: Product Characteristics DB
paths:
  /taxonomy/categories:
    get:
      summary: Get/Search Categories
      description: Returns categories. Results can be filtered by `name`, provided in query.
      operationId: getCategories
      x-operation-name: GetAllTaxonomyCategories
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: name
        in: query
        description: The part of a category name
        required: false
        schema:
          type: string
          minLength: 2
          pattern: .{2, }
        example: Fluids
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    categoryName:
                      type: string
                example:
                - categoryId: 4
                  categoryName: Belts and Cooling
                - categoryId: 5
                  categoryName: Driveline and Axles
                - categoryId: 6
                  categoryName: Electrical, Charging and Starting
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/tree/{categoryId}:
    get:
      summary: Get part taxonomy by categoryId
      description: Returns category with subcategory - part type tree.
      operationId: GetPartTaxonomyByCategoryId
      x-operation-name: GetPartTaxonomyByCategoryId
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - categoryId
                - categoryName
                - subcategories
                properties:
                  categoryId:
                    type: integer
                    example: 4
                  categoryName:
                    type: string
                    example: Belts and Cooling
                  subcategories:
                    type: array
                    items:
                      type: object
                      required:
                      - subcategoryId
                      - subcategoryName
                      - partTypes
                      properties:
                        subcategoryId:
                          type: integer
                          example: 116
                        subcategoryName:
                          type: string
                          example: Battery and Related Components
                        partTypes:
                          type: array
                          items:
                            $ref: '#/components/schemas/ResponsePartType'
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/subcategories:
    get:
      summary: Get/Search Subcategories
      description: Returns categories. Results can be filtered by `name` and `category`, provided in query.
      operationId: getSubcategories
      x-operation-name: GetAllTaxonomySubcategories
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: name
        in: query
        description: The part of a subcategory name
        required: false
        schema:
          type: string
          minLength: 2
          pattern: .{2, }
        example: Bag System
      - name: category
        in: query
        description: Category ID
        required: false
        schema:
          type: integer
        example: 6
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    subcategoryId:
                      type: integer
                    subcategoryName:
                      type: string
                example:
                - subcategoryId: 116
                  subcategoryName: Battery and Related Components
                - subcategoryId: 131
                  subcategoryName: Control Modules
                - subcategoryId: 143
                  subcategoryName: Electrical Connectors
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/part-types:
    get:
      summary: Get/Search Part Types
      description: 'Returns part types. Results can be filtered by `name`, `category` and `subcategory`, provided in query.


        **Note** Results limited by 10000 records. Use filters to get needed records.'
      operationId: getPartTypes
      x-operation-name: GetAllTaxonomyPartTypes
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: name
        in: query
        description: The part of a part type name
        required: false
        schema:
          type: string
          minLength: 2
          pattern: .{2, }
        example: Door Handle
      - name: category
        in: query
        description: Category ID
        required: false
        schema:
          type: integer
        x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
        example: 6
      - name: subcategory
        in: query
        description: Subcategory ID
        required: false
        schema:
          type: integer
        x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
        example: 229
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponsePartType'
                example:
                - partTypeId: 22585
                  partTypeName: Alternator Voltage Regulator Mounting Bolt
                  description: ''
                  application: FITTED
                - partTypeId: 48875
                  partTypeName: Voltage Regulator Bracket
                  description: ''
                  application: FITTED
                - partTypeId: 53431
                  partTypeName: Voltage Regulator Screw
                  description: Mounting screw for the voltage regulator.
                  application: FITTED
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/part-types/{partTypeId}:
    get:
      summary: Get Part Type
      description: Returns part type by part type id.
      operationId: getPartType
      x-operation-name: GetTaxonomyPartType
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: partTypeId
        in: path
        required: true
        schema:
          type: integer
          pattern: \d{1,19}
        example: 53431
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePartType'
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/part-types/{partTypeId}/attributes:
    get:
      summary: Get Part Type Attributes
      description: 'Returns part type attributes.


        Required attributes must be provided with selected value in the search by part type (UNIVERSAL, UNIVERSAL_FITTED) without vehicle params.'
      operationId: getPartTypeAttributes
      x-operation-name: GetAllTaxonomyPartTypeAttributes
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: partTypeId
        in: path
        required: true
        schema:
          type: integer
          pattern: \d{1,19}
        example: 53431
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponsePartTypeAttribute'
components:
  parameters:
    perPage:
      name: perPage
      in: query
      schema:
        type: integer
        enum:
        - 10
        - 25
        - 50
        - 100
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 50
      description: 'Records per request. Default: 50'
    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 2
    locale:
      name: locale
      in: query
      description: Locale, default en_US
      schema:
        type:
        - string
        - 'null'
        enum:
        - en_US
        - es_MX
      required: false
      example: null
  schemas:
    ResponsePartType:
      type: object
      required:
      - partTypeId
      - partTypeName
      - description
      - application
      properties:
        partTypeId:
          type: integer
          description: The ID of a part type from the Autocare Association's PCdb..
        partTypeName:
          type: string
          description: The name of a part type.
        description:
          type:
          - string
          - 'null'
        application:
          type: string
          description: 'Determines whether it can be used without vehicle params in the search.

            UNIVERSAL can be used without vehicle params.

            FITTED requires vehicle.

            UNIVERSAL_FITTED can be with or without vehicle params.

            '
          enum:
          - FITTED
          - UNIVERSAL
          - UNIVERSAL_FITTED
      example:
        partTypeId: 53431
        partTypeName: Voltage Regulator Screw
        description: Mounting screw for the voltage regulator.
        application: FITTED
    ResponsePartTypeAttribute:
      type: object
      required:
      - name
      - values
      - required
      properties:
        name:
          type: string
        values:
          type: array
          items:
            type: string
        required:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
