openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Pcdb API
  description: "\n# Rate Limiting\n\nRequests can be limited by user requests, by private partner requests and by all requests with partner's credentials.\nIt has several time intervals:\n  - *Per day* restricts count of requests made in one day.\n  - *Requests per second* restricts count of requests made in one second.\n  - *Concurrent requests* restricts count of parallel requests.\n  - *Sliding 15 minutes* restricts count of requests made in last 15 minutes.\n\n**Note**: Every method has own separate sets of the limits.\n\n## Headers\nUse the HTTP headers in order to understand where the application is at for a given rate limit, on the method that was just utilized.\nThe HTTP header is returned only for one general limit or for limit that user reached.\n\n\n*Headers*\n  - the rate limit ceiling for that given endpoint:\n  ```\n  x-rate-limit-limit: 1000\n  ```\n  - the number of requests left:\n  ```\n  x-rate-limit-remaining: 570\n  ```\n  - the remaining window before the rate limit resets, in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time):\n  ```\n  x-rate-limit-reset: 1552003200\n  ```\n\nWhen an application exceeds the rate limit for a given standard API endpoint,\nthe API will return a HTTP 429 “Too Many Requests” response code, and the following error will be returned in the response body:\n```\n{\n  \"error\": {\n    \"code\": \"TooManyRequests\",\n    \"message\": \"Some description\"\n  }\n}\n```\n\n# Pagination\n\nWhen you call an API method to retrieve information, it can be returned to you in portions.\nCheck out more detail below on pagination in API methods, including how to use them and which methods follow the pattern.\n\nAPI methods that supports pagination will return the `Link` header. It will include available urls of `first`, `last`, `previous` and `next` pages.\n\n```\nLink: <https://api.partstech.com/purchases?page=1>; rel=\"first\"\nLink: <https://api.partstech.com/purchases?page=1>; rel=\"previous\"\nLink: <https://api.partstech.com/purchases?page=3>; rel=\"next\"\nLink: <https://api.partstech.com/purchases?page=142>; rel=\"last\"\n```\n\n# MOTOR Compliance Requirements\n\nAll MOTOR-powered endpoints (Labor, Maintenance Schedules, Fluids, and Specifications) return a `Link` header\ncontaining the URL to MOTOR's OEM Compliance Requirements documentation.\n\nThe header follows the [RFC 8288 (Web Linking)](https://tools.ietf.org/html/rfc8288) format:\n\n```\nLink: <https://www.motor.com/oem-compliance-requirements/>; rel=\"compliance\"\n```\n\n# Errors\n\nThe API uses standard HTTP status codes to indicate the success or failure of the API call. The body of the response will be JSON in the following format:\n\n```\n{\n  \"error\": {\n    \"code\": \"InternalErrorCode\",\n    \"message\": \"Some description\"\n  }\n}\n```\n\n# Error Responses\nSome default error responses used in the API.\n\nHttp Code  | Explanation | Content Type | Used error codes\n----------------|-------------|------------------|---------\n400 | Bad Request. The request was unacceptable. | `application/json` | `InvalidRequestSyntax`\n401 | Unauthorized. The request requires user or partner credentials or bearer token. Also used for invalid credentials or bearer token. | `application/json` | `InvalidToken`, `UserAuthenticationFailed`, `PartnerAuthenticationFailed`\n402 | Request Failed. The parameters were valid but the request failed. | `application/json` | Different codes, depend on method.\n403 | Forbidden. Also used for unauthorized requests such as improper credentials scopes or permissions issues. | `application/json` | `IncorrectMode`, `DisabledApiUsage`, `UserIsNotActivated`, `HaveNotPermission`, `NotAvailableMethod`\n404 | Some data in the request is not found. Or incorrect url was used. | `application/json`, `text/html`, no content | `NotFound`\n405 | Method not allowed. | `application/json`, `text/html`, no content |\n406 | Unacceptable content type. Client sent an accepts header for a content type which does not exist on the server. | No content |\n409 | Locked. One of the another operations that is in progress blocks this method call. | `application/json` | `LockedSession`\n429 | Too Many Requests | `application/json` | `TooManyRequests`\n432 | Integration Error | `application/json` |\n500 | Internal Server Error. (This is rare.) | `application/json` | `InternalError`\n501 | Not Implemented | `application/json` | `MethodNotImplemented`\n503 | The backend server is not available. (This is rare.) | No content |\n"
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: pcdb
  description: Product Characteristics Database
  x-displayName: Product Characteristics DB
paths:
  /taxonomy/categories:
    get:
      summary: Get/Search Categories
      description: 'Returns categories. Results can be filtered by `name`, provided in query.

        '
      operationId: getCategories
      x-operation-name: GetAllTaxonomyCategories
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: name
        in: query
        description: The part of a category name
        required: false
        schema:
          type: string
          minLength: 2
          pattern: .{2, }
        example: Fluids
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    categoryName:
                      type: string
                example:
                - categoryId: 4
                  categoryName: Belts and Cooling
                - categoryId: 5
                  categoryName: Driveline and Axles
                - categoryId: 6
                  categoryName: Electrical, Charging and Starting
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/tree/{categoryId}:
    get:
      summary: Get part taxonomy by categoryId
      description: 'Returns category with subcategory - part type tree.

        '
      operationId: GetPartTaxonomyByCategoryId
      x-operation-name: GetPartTaxonomyByCategoryId
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - categoryId
                - categoryName
                - subcategories
                properties:
                  categoryId:
                    type: integer
                    example: 4
                  categoryName:
                    type: string
                    example: Belts and Cooling
                  subcategories:
                    type: array
                    items:
                      type: object
                      required:
                      - subcategoryId
                      - subcategoryName
                      - partTypes
                      properties:
                        subcategoryId:
                          type: integer
                          example: 116
                        subcategoryName:
                          type: string
                          example: Battery and Related Components
                        partTypes:
                          type: array
                          items:
                            $ref: '#/components/schemas/ResponsePartType'
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/subcategories:
    get:
      summary: Get/Search Subcategories
      description: 'Returns categories. Results can be filtered by `name` and `category`, provided in query.

        '
      operationId: getSubcategories
      x-operation-name: GetAllTaxonomySubcategories
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: name
        in: query
        description: The part of a subcategory name
        required: false
        schema:
          type: string
          minLength: 2
          pattern: .{2, }
        example: Bag System
      - name: category
        in: query
        description: Category ID
        required: false
        schema:
          type: integer
        example: 6
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    subcategoryId:
                      type: integer
                    subcategoryName:
                      type: string
                example:
                - subcategoryId: 116
                  subcategoryName: Battery and Related Components
                - subcategoryId: 131
                  subcategoryName: Control Modules
                - subcategoryId: 143
                  subcategoryName: Electrical Connectors
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/part-types:
    get:
      summary: Get/Search Part Types
      description: 'Returns part types. Results can be filtered by `name`, `category` and `subcategory`, provided in query.


        **Note** Results limited by 10000 records. Use filters to get needed records.

        '
      operationId: getPartTypes
      x-operation-name: GetAllTaxonomyPartTypes
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: name
        in: query
        description: The part of a part type name
        required: false
        schema:
          type: string
          minLength: 2
          pattern: .{2, }
        example: Door Handle
      - name: category
        in: query
        description: Category ID
        required: false
        schema:
          type: integer
        x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
        example: 6
      - name: subcategory
        in: query
        description: Subcategory ID
        required: false
        schema:
          type: integer
        x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
        example: 229
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponsePartType'
                example:
                - partTypeId: 22585
                  partTypeName: Alternator Voltage Regulator Mounting Bolt
                  description: ''
                  application: FITTED
                - partTypeId: 48875
                  partTypeName: Voltage Regulator Bracket
                  description: ''
                  application: FITTED
                - partTypeId: 53431
                  partTypeName: Voltage Regulator Screw
                  description: Mounting screw for the voltage regulator.
                  application: FITTED
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/part-types/{partTypeId}:
    get:
      summary: Get Part Type
      description: Returns part type by part type id.
      operationId: getPartType
      x-operation-name: GetTaxonomyPartType
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: partTypeId
        in: path
        required: true
        schema:
          type: integer
          pattern: \d{1,19}
        example: 53431
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePartType'
          headers:
            X-PCDB-VERSION:
              schema:
                type: string
                format: date
                description: Product Characteristics DB version
                example: 2019-04-15
  /taxonomy/part-types/{partTypeId}/attributes:
    get:
      summary: Get Part Type Attributes
      description: 'Returns part type attributes.


        Required attributes must be provided with selected value in the search by part type (UNIVERSAL, UNIVERSAL_FITTED) without vehicle params.

        '
      operationId: getPartTypeAttributes
      x-operation-name: GetAllTaxonomyPartTypeAttributes
      tags:
      - pcdb
      security:
      - bearerAuth:
        - partner
        - user
      parameters:
      - name: partTypeId
        in: path
        required: true
        schema:
          type: integer
          pattern: \d{1,19}
        example: 53431
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponsePartTypeAttribute'
components:
  schemas:
    ResponsePartTypeAttribute:
      type: object
      required:
      - name
      - values
      - required
      properties:
        name:
          type: string
        values:
          type: array
          items:
            type: string
        required:
          type: boolean
    ResponsePartType:
      type: object
      required:
      - partTypeId
      - partTypeName
      - description
      - application
      properties:
        partTypeId:
          type: integer
          description: The ID of a part type from the Autocare Association's PCdb..
        partTypeName:
          type: string
          description: The name of a part type.
        description:
          type:
          - string
          - 'null'
        application:
          type: string
          description: 'Determines whether it can be used without vehicle params in the search.

            UNIVERSAL can be used without vehicle params.

            FITTED requires vehicle.

            UNIVERSAL_FITTED can be with or without vehicle params.

            '
          enum:
          - FITTED
          - UNIVERSAL
          - UNIVERSAL_FITTED
      example:
        partTypeId: 53431
        partTypeName: Voltage Regulator Screw
        description: Mounting screw for the voltage regulator.
        application: FITTED
  parameters:
    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 2
    perPage:
      name: perPage
      in: query
      schema:
        type: integer
        enum:
        - 10
        - 25
        - 50
        - 100
      x-serializer-class: com.partstech.partnerapi.serialization.NullableInt
      example: 50
      description: 'Records per request. Default: 50'
    locale:
      name: locale
      in: query
      description: Locale, default en_US
      schema:
        type:
        - string
        - 'null'
        enum:
        - en_US
        - es_MX
      required: false
      example: null
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
