openapi: 3.2.0
info:
  version: 2.021.1
  title: PartsTech Mitchell1 Labor API
  description: '# Rate Limiting


    Requests can be limited by user requests, by private partner requests and by all requests with partner''s credentials.'
  x-logo:
    url: https://partstech.com/wp-content/uploads/2025/03/PartsTech_OEC-compnay_logo.svg
    altText: PartsTech logo
servers:
- url: https://api.partstech.com
  description: Production server
- url: https://api.beta.partstech.com
  description: Beta server
tags:
- name: mitchell1-labor
  description: Labor
  x-displayName: Labor
paths:
  /mitchell1/labor/groups:
    post:
      summary: Get Labor Groups
      description: Returns list of Mitchell1 Labor Groups.
      operationId: GetGroups
      x-operation-name: QueryMitchell1LaborGroups
      tags:
      - mitchell1-labor
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - m1VehicleId
              properties:
                m1VehicleId:
                  type: string
      responses:
        '200':
          description: List of Mitchell1 labor groups
          content:
            application/json:
              schema:
                type: object
                required:
                - groups
                properties:
                  groups:
                    type: array
                    items:
                      type: string
  /mitchell1/labor/subgroups:
    post:
      summary: Get Labor SubGroups
      description: Returns list of Mitchell1 Labor SubGroups.
      operationId: GetSubGroups
      x-operation-name: QueryMitchell1LaborSubgroups
      tags:
      - mitchell1-labor
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - m1VehicleId
              - group
              properties:
                m1VehicleId:
                  type: string
                group:
                  type: string
      responses:
        '200':
          description: List of Mitchell1 labor sub groups
          content:
            application/json:
              schema:
                type: object
                required:
                - subgroups
                properties:
                  subgroups:
                    type: array
                    items:
                      type: string
  /mitchell1/labor/procedures:
    post:
      summary: Get Labor Procedures Summary
      description: Returns list of Mitchell1 Labor Procedures.
      operationId: GetProceduresSummary
      x-operation-name: QueryMitchell1LaborProcedures
      tags:
      - mitchell1-labor
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - m1VehicleId
              - group
              - subgroup
              properties:
                m1VehicleId:
                  type: string
                group:
                  type: string
                subgroup:
                  type: string
      responses:
        '200':
          description: List of Mitchell1 labor procedures
          content:
            application/json:
              schema:
                type: object
                required:
                - proceduresSummaries
                properties:
                  proceduresSummaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProcedureSummary'
  /mitchell1/labor/search:
    post:
      summary: Get Labor Procedures Summary By Search
      description: Returns list of Mitchell1 Labor Procedures by search string.
      operationId: SearchProceduresSummary
      x-operation-name: SearchMitchell1LaborProcedures
      tags:
      - mitchell1-labor
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - m1VehicleId
              - search
              properties:
                m1VehicleId:
                  type: string
                search:
                  type:
                  - string
                  - 'null'
      responses:
        '200':
          description: List of matching labor procedures
          content:
            application/json:
              schema:
                type: object
                required:
                - proceduresSummaries
                properties:
                  proceduresSummaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProcedureSummary'
  /mitchell1/labor/details:
    post:
      summary: Get Labor Details
      description: Returns Labor Details for a given Labor Procedure.
      operationId: GetProcedure
      x-operation-name: QueryMitchell1LaborDetails
      tags:
      - mitchell1-labor
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - m1VehicleId
              - group
              - subgroup
              - component
              - operation
              properties:
                m1VehicleId:
                  type: string
                group:
                  type: string
                subgroup:
                  type: string
                component:
                  type: string
                operation:
                  type: string
      responses:
        '200':
          description: Labor procedure detail
          content:
            application/json:
              schema:
                type: object
                required:
                - procedure
                properties:
                  procedure:
                    $ref: '#/components/schemas/Procedure'
components:
  schemas:
    ApplicationGroup:
      type: object
      properties:
        applicationGroupName:
          type: string
          description: Name of Application Group. Not all Application Groups will have a name.
        procedureNote:
          type: string
          description: A note about the labor procedure. Nothing is returned, if there isn't a procedure note.
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          description: List of different vehicle application items.
        additionalProcedures:
          type: array
          items:
            $ref: '#/components/schemas/ProcedureInformation'
          description: List of additionalProcedures.
        combinationProcedures:
          type: array
          items:
            $ref: '#/components/schemas/ProcedureInformation'
          description: List of combination labor procedures.
    Procedure:
      type: object
      properties:
        group:
          type: string
          description: The group the labor procedure in.
        subgroup:
          type: string
          description: The subgroup the labor procedure in.
        component:
          type: string
          description: The component of the labor procedure.
        operation:
          type: string
          description: The operation of the labor procedure.
        skillLevel:
          type: string
          description: Technical skill level. Nothing is returned, if there is no technician skill level information.
        applicationGroups:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGroup'
          description: Group of elements associated with different vehicle applications.
    Item:
      type: object
      properties:
        vehicleApplication:
          type: string
          description: Vehicle application information (such as submodel or engine displacement).
        additionalApplication:
          type: string
          description: Additional application information (such as positions of features).
        applicationNote:
          type: string
          description: A note about the application.
        warrantyTime:
          type: number
          format: float
          example: 0
          description: Warranty Labor time provided by manufacturer.
        standardTime:
          type: number
          format: float
          example: 0
          description: Standard labor time.
        key:
          type: string
          description: Item hash key.
    ProcedureSummary:
      type: object
      properties:
        component:
          type: string
        operation:
          type: string
        group:
          type: string
        subgroup:
          type: string
    ProcedureInformation:
      type: object
      properties:
        component:
          type: string
          description: The component of the labor procedure.
        operation:
          type: string
          description: The operation of the labor procedure.
        skillLevel:
          type: string
          description: Technical skill level.
        procedureNote:
          type: string
          description: A note about the labor procedure.
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          description: List of different vehicle application items.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get access to data while protecting your account credentials.\nToken (a JWT token) are also a safer and more secure way to give you access.\n\nIt provides two ways of access:\n - `user` - Give an access to user methods.\n - `partner` - Give an acess to partner methods.\n\nTo use this way you need:\n1. Get an access token. See [\"Authentication and Access\"](#operation/getAcessToken).\n2. Add a header in the request\n```\nAuthorization: Bearer <accessToken>\n```\n3. Refresh tokens, when it expires, using `refreshToken`. See [\"Authentication and Access\"](#operation/refreshAccessToken). **Deprecated**.\nGenerate a new token after an expiration of previous instead of refreshing .\n"
    apiKeyAuth:
      type: apiKey
      in: header
      name: credentials
      description: "It is a deprecated way to get access to the methods, used only in the methods, that were in the previous version.\n\nIt provides two ways of an access:\n - `user` - Give access to user methods.\n - `partner` - Give acess to partner methods.\n\nTo use this way you need to add credentials in the request body, where it is allowed, in a next format:\n - for user methods:\n```\n\"credentials\": {\n    \"user\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    },\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n - for partner methods:\n```\n\"credentials\": {\n    \"partner\": {\n      \"id\": \"username\",\n      \"key\": \"APIKey\"\n    }\n}\n```\n\nFor example content of method [`Submit Cart`](#operation/submitCart) will be modified:\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\"\n}\n```\n\n```\n{\n  \"sessionId\": \"123asjkdhyr34234\",\n  \"credentials\": {\n    \"user\": {\n      \"id\": \"mechanic\",\n      \"key\": \"Mechanic's API key\"\n    },\n    \"partner\": {\n      \"id\": \"partner name\",\n      \"key\": \"partner's API key\"\n    }\n  }\n}\n```\n"
x-tagGroups:
- name: Authentication
  tags:
  - auth
- name: Punchout
  tags:
  - punchout_quote
- name: Cart
  tags:
  - punchout-cart
  - session-cart
  - callback-cart
  - punchout-orders
  - custom-cart
- name: Catalog
  tags:
  - vin
  - search
  - quoting
  - parts
  - tires
  - brands
- name: Taxonomy
  tags:
  - pcdb
  - vcdb
  - jobs
- name: Profile
  tags:
  - user
  - shop
  - supplier_preferences
  - orders
- name: Partner
  tags:
  - users
  - shops
  - ex-permissions
  - partner-orders
  - auto-connect
- name: Others
  tags:
  - suppliers
  - local-inventory
- name: Motor Taxonomy
  tags:
  - motor-labor
  - motor-maintenance-schedules
  - motor-fluids
  - motor-specifications
- name: Mitchell1 Taxonomy
  tags:
  - mitchell1
  - mitchell1-labor
